<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div ng-app="myApp" ng-controller="myCtrl">
  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/r-soccer-guy.png">
      </a>
      <h1>Reddit Soccer Organizer</h1>
      <p>Find goals, match threads, news, and more quicker than ever before.</p>
      <a target="_blank" type="button" class="btn btn-lg btn-primary" href="https://reddit.com/r/soccer"><span class="glyphicon glyphicon-home"></span> Go to r/soccer</a>
    </div>
  </div>
  <div class="container">
    <ul class="nav nav-pills nav-justified">
      <li class="active"><a data-toggle="tab" href="#goals">Goals</a></li>
      <li><a data-toggle="tab" href="#threads">Match Threads</a></li>
      <li><a data-toggle="tab" href="#reddit">Reddit</a></li>
      <li><a data-toggle="tab" href="#media">Media</a></li>
      <li><a data-toggle="tab" href="#rest">Others</a></li>
    </ul> 
    <div class="tab-content">
      <div id="goals" class="tab-pane fade in active">
        <h3>Goals</h3>
        <p ng-repeat='post in goals'>
          <a target="_blank" href="{{ post.data.url }}"> {{ post.data.title }} </a> <a target="_blank" href="https://reddit.com{{post.data.permalink}}">[comments]</a>
        </p>
      </div>
      <div id="threads" class="tab-pane fade">
        <h3>Match Threads</h3>
        <p ng-repeat='post in threads'>
          <a target="_blank" href="{{ post.data.url }}"> {{ post.data.title }} </a>
        </p>
      </div>
      <div id="reddit" class="tab-pane fade">
        <h3>Reddit Posts</h3>
        <p ng-repeat='post in reddit'>
          <a target="_blank" href="{{ post.data.url }}"> {{ post.data.title }} </a>
        </p>
      </div>
      <div id="media" class="tab-pane fade">
        <h3>Media</h3>
        <p ng-repeat='post in media'>
          <a target="_blank" href="{{ post.data.url }}"> {{ post.data.title }} </a>
        </p>
      </div>
      <div id="rest" class="tab-pane fade">
        <h3>Other</h3>
        <p ng-repeat='post in rest'>
          <a target="_blank" href="{{ post.data.url }}"> {{ post.data.title }} </a>
        </p>
      </div>
    </div>
  </div>
  <br><br>
  <div class="alert alert-info text-center" role="alert">
    This app is just something I made for fun so obviously lacks a lot of useful features and probably has some mistakes. If people enjoy the app I will look into improving things that users ask.
  </div>
</div>
<script src="/js/controller.js"></script>

</body>
</html>
