<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="/r-soccer-guy.png">
        </a>
        <h1>Reddit Soccer Organizer</h1>
        <p>Find goals, match threads, news, and quicker than ever before.</p>
        <a target="_blank" type="button" class="btn btn-lg btn-primary" href="https://reddit.com/r/soccer"><span class="glyphicon glyphicon-home"></span> Go to r/soccer</a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <form class="form-inline" id="loadForm">
          <div class="form-group">
            <label for="rankingSel">Ranking:</label>
            <select class="form-control" id="rankingSel">
              <option value="hot">Hot</option>
              <option value="top">Top</option>
              <option value="new">New</option>
            </select>
          </div>
          <div class="form-group">
            <label for="timeSel">Time:</label>
            <select class="form-control" id="timeSel">
              <option value="hour">1 Hour</option>
              <option value="day" selected>24 Hours</option>
              <option value="week">Week</option>
              <option value="month">Month</option>
              <option value="year">Year</option>
              <option value="all">All Time</option>
            </select>
          </div>
          <div class="form-group">
            <label for="countSel">Post Count:</label>
            <select class="form-control" id="countSel">
              <option value="25">25</option>
            </select>
          </div>
          <div class="form-group">
            <label for="query">Search:</label>
            <input type="text" class="form-control" id="query">
          </div>
          <button type="submit" class="btn btn-default">Load Reddit Posts</button>
        </form>
      </div>
      <div class="row top-buffer">
        <ul class="nav nav-pills nav-justified">
          <li class="active"><a data-toggle="tab" href="#goals" class="tabs">Goals - {{goals.length}}</a></li>
          <li><a data-toggle="tab" href="#media" class="tabs">Media - {{media.length}}</a></li>
          <li><a data-toggle="tab" href="#threads" class="tabs">Match Threads - {{threads.length}}</a></li>
          <li><a data-toggle="tab" href="#reddit" class="tabs">Reddit - {{reddit.length}}</a></li>
          <li><a data-toggle="tab" href="#rest" class="tabs">Others - {{rest.length}}</a></li>
        </ul> 
      </div>
      <div class="row">
        <div class="tab-content">
          <div id="goals" class="tab-pane fade in active">
            <div class="row">
              <div class="col-md-6">
                <h3>Goals</h3>
                <h5>Click on button to pop up video on screen</h5>
                <p ng-repeat='post in goals' goal-post='post' index="{{$index}}"></p>
              </div>
              <div class="col-md-6">
                <h3 id="embedTitleGoal"></h3>
                <span id="embedFrameGoal"></span>
              </div>
            </div>
          </div>
          <div id="threads" class="tab-pane fade">
            <h3>Match Threads</h3>
            <p ng-repeat='post in threads' reddit-post="post"></p>
          </div>
          <div id="reddit" class="tab-pane fade">
            <h3>Reddit Posts</h3>
            <p ng-repeat='post in reddit' reddit-post="post"></p>
          </div>
          <div id="media" class="tab-pane fade">
            <div class="row">
              <div class="col-md-6">
                <h3>Media</h3>
                <h5>Click on button to pop up video on screen</h5>
                <p ng-repeat='post in media' media-post='post' index="{{$index}}"></p>
              </div>
              <div class="col-md-6">
                <h3 id="embedTitleMedia"></h3>
                <span id="embedFrameMedia"></span>
              </div>
            </div>
          </div>
          <div id="rest" class="tab-pane fade">
            <h3>Other</h3>
            <p ng-repeat='post in rest' post="post"></p>
          </div>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="alert alert-info text-center" role="alert">
          This app is just something I made for fun so obviously lacks a lot of useful features and probably has some mistakes. If people enjoy the app I will look into improving things that users ask.
        </div>
      </div>
    </div>

  </div>
  <script src="/js/controller.js"></script>
  <script src="/js/formControl.js"></script>

</body>
</html>
